body{
 font-family:Tahoma, Geneva, sans-serif;
 }
#container{
 width:600px;
 background-color: #F5F5F5;
 margin:auto;
margin-left:350px;
 margin-top:80px;
 margin-bottom:10px;
 box-shadow:0 0 3px #999;
size: 250px 200px;
 }
#container_body{
 padding: 50px;
font-size: 12;
color: black;
}

#form{
 padding: 50px;
 }
select{
 width:300px;
height: 25px;
 padding:5px;
 font-size:10px;
}

input[name=email]
{
   width: 300px;
height: 25px;
    padding: 5px;

    font-size: 10px;
    
}
input[type=text] {
    width: 150px;
height: 25px;
    padding: 5px;

    font-size: 10px;
    
}
input[type=password] {
    width: 300px;
height: 25px;
    padding: 5px;

    font-size: 10px;
}
div.b
{
border-width: 100px;
height: 25px;
    padding: 5px;

    font-size: 10px;
}
select[name=DOBMonth]
{
width: 100px;
font-size: 10px;
height: 25px;
}
select[name=DOBDay]
{
width: 100px;
font-size: 10px;
height: 25px;
}
select[name=DOBYear]
{
width: 100px;
font-size: 10px;
height: 25px;
}
select[name=c]
{
width: 150px;
font-size: 10px;
height: 25px;
}
input[type=tel] {
    width: 150px;
height: 25px;
    padding: 5px;

    font-size: 10px;
}
button[type=button]
{
color: red;
background-color: green;
font-size: 14px;
margin-left: 150px;
}